<?xml version=<i>"1.0"</i> encoding=<i>"UTF-8"</i>?>

<web-app xmlns:xsi=<i>"http://www.w3.org/2001/XMLSchema-instance"</i> xmlns=<i>"http://java.sun.com/xml/ns/javaee"</i> xmlns:web=<i>"http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"</i> xsi:schemaLocation=<i>"http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"</i> id=<i>"WebApp_ID"</i> version=<i>"3.0"</i>>

<servlet>

<servlet-name>Addition</servlet-name>

<servlet-class>com.mybringback.chapter2.AdditionApp</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>Addition</servlet-name>

<url-pattern>/read</url-pattern>

</servlet-mapping>

<welcome-file-list>

<welcome-file>index.jsp</welcome-file>

</welcome-file-list>

</web-app>
